.product-shelf {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    height: max-content;
    padding: 5% 2% 2% 2%;
    justify-items: space-between;
}

.merchant-details 
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-end;
}

.merchant-list {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

.merchant-item {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 5px;
    cursor: pointer;
    font-weight: 600;
    max-width: 100px;
    text-align: center;
}

.merchant-item p {
    font-size: .9rem;
}

.merchant-item img {
    overflow: hidden ;
}



@media (min-width: 600px){
    .product-shelf {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
}