.atcmodal {
        width: 100%;
        min-height: 50%;
        max-height: 75%;
        background-color: rgba(255, 255, 255, 1);
        position: fixed;
        z-index: 99999;
        left: 0;
        bottom: 0;
        transform: translateY(100%);
        display: none;
        overflow-y: scroll;
}

.atcmodal.active {
    transform: translateY(0);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.atcmodal .atcheader-btn {
    all: unset;

    text-align: center;
    background-color: unset;
    color: var(--primary);
    cursor: pointer;
    
    width: 25px;
    height: 25px;

    color: white;
}

.atcmodal-header {
    position: sticky;
    top: 0;
    background-color: var(--dark);
    color: white;
    padding: 2.5% 5%;
    place-self: center;
    box-shadow: 0 .2px 12px 0 rgba(250, 250, 250, .5);

    display: flex;
    flex-direction: row;
    width: inherit;
    place-items: center;
    justify-content: space-between;

}

.atcmodal .header-btn {
    color: white;
}

.atcmodal-header .atcmerchant-info {
    font-size: .9rem;
    font-weight: 100;
    font-style: italic;
}


.atcdisable-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
  }

.atcmodal-container {
    background: radial-gradient(circle, var(--primary), var(--secondary));
    width: 100%;
    height: fit-content;
    padding: 2.5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;

    flex-grow: 1;
  }

.atcmodal-container > * {
    width: 100%;
  }

  .atcmodal-container form {
    width: 100%;
  }

.atcmodal-container form > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

.variant-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.variant-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}
    .qty-selector {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-items: center;
    }

  .qty-selector button, input {
    all: unset;
    text-align: center;
    text-justify: center;

    height: 20px;
    aspect-ratio: 1;
  }

  .qty-selector input {

    border: 1px solid var(--secondary);
    border-radius: 10px;
    padding: 5px;

  }

  .qty-selector button {
    font-size: 1.2rem;
    cursor: pointer;
    border: 1px solid var(--secondary);
    padding: 5px;
    background-color: var(--primary);
    color: white;
  }