/* Import fonts */

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary: #104c64;
  --secondary: #c6c8D0;
  --buttons: #b6410f;
  --dark: #0d1d25;
  --pri-alt: #d59d80;
  font-family: 'Roboto';
  --logo-text: 22px;
  --logo-text-small: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

button {
  all: unset;
}

a {
  all: unset;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  background-color: var(--secondary);

}

.page-wrapper > * {
  width: 100%;
  padding: 2.5%;
}

.children-wrapper {
  
  z-index: 1;
  flex-grow: 1;
  padding: unset;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  max-width: 98%;
  padding: 10px;
}

.hero {
  background-color: white;
  color: white;

  height: 360px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  filter: brightness(.9);

  display: flex;
  flex-direction: column;
  place-content: center;

  font-size: 1.2rem;

  box-shadow: 0 .2px 12px 0 rgba(0, 0, 0, .5);
  border-radius: 5px;
}

.hero-container {
  background-color: rgba(128, 128, 128, .3);
  padding: 5%;
  overflow-x: hidden;
}

.hero-title {
  transform: translateX(-100%);
  animation: slide-in 1s ease-in forwards;
  
}

header {
  background-color: var(--primary);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, .8);
  z-index: 1000;
  position: sticky;
  top: 0;

  transform: translateY(-100%);
  animation: slide-in-top .5s ease-in forwards;
}

footer {
  display: block;
  position: relative;
  bottom: 0;
  background-color: var(--primary);
  z-index: 1000;
}

@media (min-width: 950px) {
  .page-wrapper > * {
    width: 100%;
    padding: 1.5%;
  }
  
  .children-wrapper {
    max-width: 90%;
  }
}

/* keyframes animations*/
@keyframes slide-in {
  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-top {
  to {
    transform: translateY(0);
  }
}