.collection {
    background-color: white;
    padding: 5%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;

    box-shadow: 0 .2px 12px 0 rgba(0, 0, 0, .5);
}

.collection-container {
    
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    overflow-x: scroll;
    scroll-behavior: smooth 500ms;
    scroll-snap-type: x mandatory;
   
}

.collection-container:last-child {
    flex-grow: 1;
    max-width: unset;
}

.card {
    width: 85%;
    place-self: flex-start;
    scroll-snap-align: start;
    height: inherit;

    
}

.card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 10px;
    gap: 10px;
    padding-bottom: 5%;
    border: 2px solid var(--pri-alt);
    overflow: hidden;
    height: inherit;
    
}

.card-container img {
    
    min-height: 100px;
    max-height: 50% ;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1 / 1;
}


.card .description h3 {
    grid-row: 1;
    grid-column: 1 / span 2; 

    font-size: 0.9em;
}

.card .description .desc-small {
    grid-row: 2;
    grid-column: 1 / span 2; 
    font-size: .7em;

    
}

.card .description .price {
    grid-area: span 2 / 3 ;
    align-self: center;
    justify-self: flex-end;

    flex-grow: 1;
    min-width: max-content;
}

.card button {
    align-self: center;
    padding: 3%;

    position: relative;
    bottom: 0
}

.card .description {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;

    padding: 5%;
    flex-grow: 1;
}

.card.storeFront {
    max-width: 44%;
    display: flex;
    flex-direction: column;

    flex-grow: 1;
}

.card.storeFront .card-container {
    max-height: 400px;
    overflow: hidden;
}

.card.storeFront.lastChild {
    max-width: 90%;
    flex-grow: 1;
}

@media (max-width: 350px) {
    .card.storeFront {
        max-width: unset;
        width: 100%;
    }
}

@media (min-width: 700px) {
    .card {
        all: unset;
        width: 30%;
        min-height: 250px;
    }

    .card.storeFront {
        width: 30%;
    }
}